#body{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#background{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/img/background.png");
    background-size: cover;

}
#boy{
    position: absolute;
    height: 220px;
    margin-top: 365px;
}
#score{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial;
    margin-left: 25px;
}
#block{
    position: absolute;
    background: url("assets/img/flame.gif");
    background-size: cover;
    width: 80px;
    height: 150px;
    margin-top: 430px;

}