#body{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#background{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/img/background.png");
    background-size: cover;

}
#boy{
    position: absolute;
    height: 220px;
    margin-top: 345px;
    /*margin-left: 50px;*/
}
#score{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial;
    margin-left: 25px;
}
.block{
    position: absolute;
    background-image: url("assets/img/flame.gif");
    background-size: cover;
    width: 90px;
    height: 160px;
    margin-top: 430px;
    /*margin-left: 250px;*/


}
.endScreen{
    position: absolute;
    width: 300px;
    height: 350px;
    font-size: 50px;
    font-weight: bold;
    font-family:  Arial;
    margin-left: 520px;
    margin-top: 80px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}
.endScore{
    font-weight: bold;
    color: red;
}
#btn{
    margin-top: 20px;
    height: 65px;
    width: 270px;
    background-color: blue;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family:  Arial;
    border: none;
    border-radius: 25px;

}
#btn:hover{
    height: 67px;
    width: 272px;
    background-color: blue;
    cursor: pointer;
  }
#nextLevel1{
    position: absolute;
    width: 400px;
    height: 350px;
    font-size: 50px;
    font-weight: bold;
    font-family:  Arial;
    margin-left: 520px;
    margin-top: 80px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
   // visibility: hidden;
}
#d1{
    font-size: 50px;
    font-weight: bold;
    color: green;
}
#d2{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}
.currentScore{
    font-weight: bold;
    color: red;
}
#btn1{
    margin-top: 20px;
    height: 65px;
    width: 270px;
    background-color: blue;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family:  Arial;
    border: none;
    border-radius: 25px;

}
#btn1 a{
    text-decoration: none;
}
#btn1:hover{
    height: 67px;
    width: 272px;
    background-color: blue;
    cursor: pointer;
}
